* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Jost, "Courier New", Courier, monospace;
}
body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box {
  border: 1px solid #dadada;
  height: auto;
  width: 320px;
  padding: 20px;
  overflow: hidden;
  border-radius: 5px 30px 30px 30px;
}
.box > h1 {
  text-align: center;
  margin: 10px 0;
}
.inputBox {
  text-align: center;
  margin: 8px auto;
  width: 90%;
}

.custom-field {
  position: relative;
  font-size: 14px;
  border-top: 20px solid transparent;
  margin-bottom: 5px;
  display: inline-block;
  --field-padding: 12px;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 14px;
}

.custom-field .placeholder {
  position: absolute;
  left: 5px;
  width: calc(100% - (5px * 2));
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  top: 22px;
  line-height: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #aaa;
  -webkit-transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  -o-transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.custom-field input:not(:-moz-placeholder-shown) + .placeholder {
  top: -10px;
  font-size: 12px;
  color: #1a1919;
  font-weight: 900;
}

.custom-field input:not(:-ms-input-placeholder) + .placeholder {
  top: -10px;
  font-size: 12px;
  color: #1a1919;
  font-weight: 900;
}

.custom-field input.dirty + .placeholder,
.custom-field input:focus + .placeholder,
.custom-field input:not(:placeholder-shown) + .placeholder {
  top: -10px;
  font-size: 12px;
  color: #1a1919;
  font-weight: 900;
}

.custom-field.two input {
  border-radius: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222)) center bottom/0 0.15em
      no-repeat,
    -webkit-gradient(linear, left top, right top, from(#ccc), to(#ccc)) left bottom/100% 0.15em no-repeat,
    -webkit-gradient(linear, left top, right top, from(#fafafa), to(#fafafa)) left bottom/100% no-repeat;
  background: -o-linear-gradient(left, #222, #222) center bottom/0 0.15em
      no-repeat,
    -o-linear-gradient(left, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
    -o-linear-gradient(left, #fafafa, #fafafa) left bottom/100% no-repeat;
  background: linear-gradient(90deg, #222, #222) center bottom/0 0.15em
      no-repeat,
    linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
    linear-gradient(90deg, #fafafa, #fafafa) left bottom/100% no-repeat;
  -webkit-transition: background-size 0.3s ease;
  -o-transition: background-size 0.3s ease;
  transition: background-size 0.3s ease;
}

.custom-field.two input:not(:-moz-placeholder-shown) {
  background-size: 100% 0.15em, 100% 0.1em, 100%;
}

.custom-field.two input:not(:-ms-input-placeholder) {
  background-size: 100% 0.15em, 100% 0.1em, 100%;
}

.custom-field.two input.dirty,
.custom-field.two input:not(:placeholder-shown),
.custom-field.two input:focus {
  background-size: 100% 0.15em, 100% 0.1em, 100%;
}
.info{
    padding: 12px;
    margin-top: 20px;
}
.loction{
    margin: 5px 0;
}
.min_max{
    margin: 20px 0 50px 0;
    mix-blend-mode: darken;
}

.infoBox{
    position: relative;
}
.ocean {
    height: 80px;
    width: 120%;
    position: absolute;
    bottom: -25px;
    left: -25px;
    right: 0;
    overflow-x: hidden;
  }
  
  .wave {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
    position: absolute;
    z-index: -999;
    width: 200%;
    height: 100%;
    -webkit-animation: wave 10s -3s linear infinite;
            animation: wave 10s -3s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 0.8;
  }
  
  .wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
  }
  
  .wave:nth-of-type(3) {
    bottom: 0;
    -webkit-animation: wave 20s -1s linear infinite;
            animation: wave 20s -1s linear infinite;
    opacity: 0.5;
  }
  
  @-webkit-keyframes wave {
      0% {-webkit-transform: translateX(0);transform: translateX(0);}
      50% {-webkit-transform: translateX(-25%);transform: translateX(-25%);}
      100% {-webkit-transform: translateX(-50%);transform: translateX(-50%);}
  }
  
  @keyframes wave {
      0% {-webkit-transform: translateX(0);transform: translateX(0);}
      50% {-webkit-transform: translateX(-25%);transform: translateX(-25%);}
      100% {-webkit-transform: translateX(-50%);transform: translateX(-50%);}
  }